<%= simple_form_for @post do |f| %>
	<% if @post.errors.any? %>
		<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
		<ul>
			<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<p>
	<strong><%= f.label :content, "Title of the Blog:" %></strong><br>
	<%= f.text_field :title %>
	</p>

	<p>
	<%= f.label :content, "Contents of the Blog:" %><br>
	<%= f.cktext_area :content %>
	</p>

	<p>
  		<%= f.association :tags, label: false%>
	</p>

	<%= f.submit nil, :class => 'waves-effect waves-light btn wow bounceInUp' %>

<% end %>

<script>
$(document).ready(function() {
        $("#post_tag_ids").select2({
        	placeholder: "Select Tags",
        	maximumSelectionLength: 3,
        	tokenSeparators: [',', ' ']
        })
    });

</script>